@import url("https://fonts.cdnfonts.com/css/itc-avant-garde-gothic-std-book");

/* common css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.body {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  font-family: "ITC Avant Garde Gothic Std Book", sans-serif;
  
}
/* ================================== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
}
.contact {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 7px;
  border-bottom: 1px solid;
}

/* ==================================== */
.banner {
  background-image: url("/assets/banner.png");
  height: 866px;
  width: 100%;
  max-width: 1765px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
  position: relative;
}
.banner::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    #05283e -23.09%,
    rgba(9, 67, 103, 0) 107.85%
  );
}
.banner-info-container {
  position: absolute;
  top: 107px;
  left: 111px;
}
.banner-title {
  font-size: 100px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}
.red-box-container {
  position: relative;
}
.red-box {
  background-color: #ec2232;
  opacity: 50%;
  height: 295px;
  width: 294px;
  margin-top: 97px;
}
.red-box-text-container {
  position: absolute;
  top: 92px;
  left: 97px;
}
.red-box-text-container h1 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
  font-size: 35px;
  font-weight: 700;
}
#line-container {
  display: flex;
}
#line {
  width: 57px;
  height: 1px;
  background: #fff;
  margin-top: 20px;
  margin-left: 20px;
}
.banner-text {
  font-weight: 500;
  color: white;
  font-size: 35px;
  display: flex;
  position: absolute;
  top: 612px;
}
.banner-text #text1,
#text3 {
  background: linear-gradient(
    to right,
    #ffffff 0%,
    rgba(255, 255, 255, 0.2) 55.12%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-text #text2 {
  margin-left: 37px;
  margin-right: 51px;
}

/* =============================== */
.industry-experts-section {
  margin: 160px auto 0;
}

.industry-experts-section .container {
  display: flex;
}
.industry-experts-section .container .left {
  width: 50%;
  margin-left: 150px;
}
.industry-experts-section .container .right {
  width: 31%;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 150px;
  line-height: 29px;
}
.small-text {
  color: #ec2232;
  margin-bottom: 23px;
}
.industry-experts-section h1,
.first-choice-section h1 {
  font-size: 70px;
  font-weight: 500;
}
.stats {
  width: 85%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-top: 131px;
  margin-bottom: 216px;
}
.stats div {
  padding: 0 73px;
}
#stat2 {
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
}
.stats h1 {
  font-size: 90px;
  font-weight: 600;
}
.plus {
  font-weight: 300;
  color: #ec2232;
}
.stats p {
  font-size: 25px;
}
.bold {
  font-weight: 600;
}
/* ============================ */
.first-choice-section {
  background-color: #f9f9f9;
  position: relative;
}
.right-image {
  position: absolute;
  top: 0;
  right: 0;
}
.first-choice-section .container {
  position: absolute;
  top: 150px;
  left: 150px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 22px;
  max-width: 1200px;
  margin: auto;
}

.card {
  background-color: #fff;
  margin: 138px 0;
  box-shadow: 0px 4px 40px #ccc;
}
.card img {
  width: 100%;
  height: 300px;
}
.card p {
  font-size: 25px;
  line-height: 33px;
  font-weight: 550;
  margin-top: 43px;
  margin-left: 30px;
  margin-bottom: 46px;
}
/* ================================ */
.service-section {
  margin-top: 530px;
}
.service-section-header {
  position: relative;
  margin-left: 150px;
  display: flex;
  justify-content: space-between;
}
#text-img {
  margin-top: -50px;
  background-color: white;
}

#title {
  background-color: white;
  margin-top: -40px;
}
.subtitle-container {
  margin-left: 190px;
}
.subtitle {
  color: #9198a0;
  font-size: 25px;
  margin-left: 50px;
}
.service-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 180px;
  column-gap: 50px;
  margin-left: 150px;
  margin-right: 20px;
  border-left: 2px solid #ec2232;
  padding-left: 56px;
  margin-top: 110px;
  margin-bottom: 216px;
}
.service-card {
  display: flex;
}
.service-card .order {
  font-size: 25px;
  color: #f0e3d8;
  font-weight: 600;
  margin-right: 25px;
}
.service-card .img {
  margin-top: 20px;
}
.service-info {
  margin-left: 35px;
}
.service-info h2 {
  font-size: 30px;
  font-weight: 600;
  color: #222222;
}
.service-info p {
  font-size: 18px;
  font-weight: 300;
  line-height: 29px;
  margin-top: 14px;
}
/* ==================================== */
.machine-section {
  background: url("./assets/machine-section/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 1920px;
  height: 1050px;
}
.machine-info-container {
  margin-left: 208px;
  padding-top: 240px;
}
.machine-small-text {
  color: #fff;
  margin-bottom: 33px;
}
.machine-title {
  width:50%;
  color: #fff;
  font-size: 70px;
  line-height: 85px;
  font-weight: 500;
  margin-bottom: 19px;
}
.machine-text {
  width: 60%;
  font-size: 18px;
  line-height: 29px;
  color: #fff;
  font-weight: 300;
}
.machine-card-container {
  display: flex;
  margin-left: 200px;
  margin-top: 87px;
}
.machine-card {
  margin-right: 67px;
}
.machine-card span {
  font-weight: 550;
}
.card-title {
  font-size: 43px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 14px;
  margin-top: 25px;
}
.card-text {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
/* ====================================== */
.industries-section {
  padding: 205px;
}
.industries-section p {
  color: #e82232;
  font-size: 25px;
  text-align: center;
  margin-bottom: 88px;
}
.industries-logo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 94px;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
}
#fujitsu {
  margin-top: -20px;
}
/* ==================================== */
.contact-section {
  display: flex;
  position: relative;
}
.form-container {
  background-color: #0e3466;
  padding: 150px;
  width: 50%;
}
.form-container h1 {
  font-size: 50px;
  color: #fff;
  font-weight: 500;
}
.form-container h1 span {
  border-bottom: 5px solid #fff;
  padding-bottom: 15px;
  margin-bottom: 30px;
  display: inline-block;
  margin-right: 5px;
}
.input-div {
  background: #fff;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  font-size: 20px;
  margin-top: 24px;
  border-radius: 8px;
}
.input-div i {
  color: #767676;
}
.input-div input {
  padding: 0 10px;
  border: none;
  font-size: 20px;
}
.input-div input:focus,
#message-box textarea {
  outline: none;
}
#message-box {
  align-items: start;
  height: 135px;
}
#message-box textarea {
  padding: 0 10px;
  border: none;
  font-size: 20px;
}
.form-container .button {
  padding: 18px 66px;
  font-size: 20px;
  color: #fff;
  background-color: #ec2232;
  border: none;
  border-radius: 40px;
  margin-top: 30px;
}
.map-container {
  width: 50%;
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f8f8f8;
}
.floating-div {
  display: flex;
  box-shadow: 12px 0px 50px #00000051;
}

.info-div {
  width: 40%;
  padding: 30px;
  background-color: #fff;
}
#registered {
  margin-top: 0;
}
.info-div .title {
  font-size: 18px;
  color: #192437;
  margin-top: 32px;
}
.info-div .text {
  font-size: 20px;
  color: #828282;
  line-height: 25px;
  margin-top: 21px;
}
.info-div hr {
  margin-top: 32px;
}
.img-container {
  width: 60%;
}
.img-container img {
  width: 100%;
  height: 100%;
}
/* ===================================== */
footer {
  padding: 110px;
  background-color: #181818;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first-sec a {
  font-size: 35px;
  margin-top: 20px;
  display: block;
}
footer hr {
  height: 180px;
  border: none;
  border-left: 1px solid #c4c4c4;
  opacity: 10%;
}

.second-sec p {
  font-size: 35px;
  margin-bottom: 20px;
}
.second-sec .list {
  display: flex;
}
.second-sec .list ul {
  margin-right: 73px;
  margin-left: 25px;
  font-size: 20px;
}
.second-sec .list ul li {
  margin-bottom: 20px;
}
.third-sec {
  text-align: right;
  font-size: 19px;
}
.third-sec div {
  margin-bottom: 20px;
  margin-top: 10px;
}
.third-sec i {
  margin-right: 20px;
  margin-bottom: 20px;
}
.third-sec p {
  margin-bottom: 20px;
}

/* =========== mobile responsive ============== */

@media only screen and (max-width: 360px){
  nav > img{
    height: 20px;
    
  }
  #menu-icon{
    width: 20px;
    height: 10px;
  }
  .contact {
    font-size: 15px;
    margin-right: 10px;
  }

  /* banner section */
  .banner{
    height: 300px;
  }
  .banner-info-container {
    top: 20px;
    left: 20px;
  }
  .banner-title {
    font-size: 35px;
  }
  .red-box {
    height: 95px;
    width: 94px;
    margin-top: 50px;
  }
  .red-box-text-container {
    top: 20px;
    left: 20px;
  }
  .red-box-text-container h1 {
    font-size: 20px;
  }

  #line {
    width: 30px;
    margin-top: 12px;
    margin-left: 5px;
  }
  .banner-text {
    font-size: 13px;
    top: 220px;
  }
  .banner-text #text2 {
    margin-left: 10px;
    margin-right: 20px;
  }

  /* industry section */

  .industry-experts-section {
    margin: 60px auto 0;
  }
  
  .industry-experts-section .container {
    display: flex;
    flex-direction: column;
  }
  .industry-experts-section .container .left {
    width: 90%;
    margin-left: 20px;
    
  }
  .industry-experts-section .container .right {
    width: 90%;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top:50px;
    line-height: 22px;
  }
 
  .small-text {
    margin-bottom: 15px;
  }
  .industry-experts-section h1,
  .first-choice-section h1 {
    font-size: 30px;
  }
  .stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .stats div {
    padding: 0 ;
  }
  .stats h1 {
    font-size: 60px;
  }
  .stats p {
    font-size: 20px;
  }

  /* first choice section */
  .first-choice-section .container {
    top: 50px;
    left: 0px;
  }
  .container-header{
    margin-left: 20px;
  }
  .left-image{
    display: none;
  }
  .card-container {
    grid-template-columns: 1fr;
    column-gap: 0px;
    margin-top: 30px;
  }
  .card {
    margin: 11px 22px ;
  }

  /* service section */
  .service-section {
    margin-top: 2250px;
  }
  .service-section-header {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
  }
  .service-section img {
   height: 20px;
  }
  #structure{
    background-color: red;
    display:none;
  }
  .subtitle-container {
    margin-left: 20px;
  }
  .subtitle {
    font-size: 15px;
    margin-left: 20px;
  }
  .service-card-container {
   
    grid-template-columns: 1fr;
    row-gap: 50px;
    column-gap: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-left: 2px solid #ec2232;
    padding-left: 20px;
    margin-top: 80px;
    margin-bottom: 100px;
  }
  .service-card {
    flex-direction: column;
  }
  .service-card .order {
    font-size: 25px;
    color: #f0e3d8;
    font-weight: 600;
    margin-right: 25px;
  } 
  .service-card .img {
    margin-top: 20px;
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
  }
  .service-info {
    margin-left: 0px;
  }
  .service-info h2 {
    font-size: 25px;
  }
  .service-card .img img{
    width: 90%;
    height: 90%;
  }
/* =========== */
.machine-section {
  height: 300px;
}
.machine-info-container {
  margin-left: 20px;
  padding-top: 20px;
}
.machine-small-text {
  margin-bottom: 15px;
  font-size: 10px;
}
.machine-title {
  width: 100%;
  color: #fff;
  font-size: 25px;
  line-height: 28px;
  
}
.machine-text {
  font-size: 13px;
  line-height: 15px;
  width: 90%;
}
.machine-card-container {
  margin-left: 20px;
  margin-top: 20px;
}
.machine-card {
  margin-right: 20px;
}
.card-title {
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: 10px;
}
.card-text {
  font-size: 12px;
}
.machine-card img{
  height: 40px;
}
#area-title{
  margin-top: 5px;
}

/* industry logo section */
.industries-section {
  padding:50px 20px;
}
.industries-section p {
  
  margin-bottom: 40px;
}
.industries-logo {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}
/* contact section */
.contact-section {
  flex-direction: column;
}
.form-container {
  padding: 50px 20px;
  width: 100%;
}
.form-container h1 {
  font-size: 35px;
}
.form-container h1 span {
  border-bottom: 3px solid #fff;
}
.map-container {
  width: 100%;
  position: static;
  transform: translateY(0%);
}

.floating-div {
  flex-direction: column;
}

.info-div {
  width: 100%;
}
.img-container {
  width: 100%;
}
/* footer */
footer {
  padding: 50px 20px;
  flex-direction: column;
  align-items: start;
}
.first-sec a {
  font-size: 20px;
}
footer hr {
 width: 90%;
 height: 1px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  margin: 30px 0;
}

.second-sec p {
  font-size: 20px;
  margin-bottom: 20px;
}
.second-sec .list ul {
  margin-right: 33px;
  margin-left: 25px;
  font-size: 13px;
}
.second-sec .list ul li {
  margin-bottom: 15px;
}
.third-sec {
  text-align: left;
}
.third-sec div {
  margin-bottom: 0px;
}
.third-sec i {
  margin-right: 15px;
}
.third-sec p {
  margin-bottom: 16px;
}
body{
  border: 1px solid;
}

}